{{#if title}}
{{#if id}}
> <a id="{{id}}" href="https://github.com/zoetrope/kubebuilder-training/blob/master/docs/kubebuilder/{{originalPath}}">{{title}}</a>
{{else}}
> <a id="{{title}}" href="https://github.com/zoetrope/kubebuilder-training/blob/master/docs/kubebuilder/{{originalPath}}">{{title}}</a>
{{/if}}
{{else}}
> <a id="{{fileName}}" href="https://github.com/zoetrope/kubebuilder-training/blob/master/docs/kubebuilder/{{originalPath}}">{{fileName}}</a>
{{/if}}

{{{backtick}}} {{lang}}
{{{content}}}
{{{backtick}}}
